In [2]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] --> (1,2),(1,3),(2,3) -->3C2 --> 3!/((3-2)!*2!)
# [1,2,3,4]-->(1,2),(1,3),(1,4),(2,3),(2,4),(3,4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li=[2,3,4,1]
combinations(li)

2 3
2 4
2 1
3 4
3 1
4 1

In [3]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [20]:
# [1,2,3] --> [1,2,3]
def medium(li):
    
    while True:
        li3=[]
        li2=differencePairs(li)
        if len(li2)==0:
            break
    return li

def differencePairs(li):
    cli=li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,9,8]
differencePairs(li)

[1, 9, 8, 7]

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an Arithmetic Progression

### Set - Data Structure in Python

Represented by '{}'

In [60]:
a={1,3,4,5,6,6}
a.add(2)
for i in a:
    print(i,end=" ")
b={9,8}
li=[2,3,1,-1,-100,11,'x','t','Raji','Raja',(41,33,20)]
a.update(b)
a

1 2 3 4 5 6

{1, 2, 3, 4, 5, 6, 8, 9}

In [61]:
a.discard(b)
a

{1, 2, 3, 4, 5, 6, 8, 9}

In [62]:
a={10,1,2,4,5,6}
b={7,8,9,1,2,3}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
a={10,1,2,4,5,6}
b={7,8,9,1,2,3}
a.intersection(b)

{1, 2}

In [65]:
c={1,2,3}
d={4,5,6}
c.isdisjoint(d)

True

In [78]:
a={10,1,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a-b # All elements of a which are not in b
b-a

{2, 3, 7, 8, 9}

In [73]:
sorted(a)

[1, 2, 4, 5, 6, 10]

In [74]:
a^b # Elements either in a or in b not are both

{3, 4, 5, 6, 7, 8, 9, 10}

In [75]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [79]:
a&b

{1}

In [80]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural : C

Object Oriented : Java, Python

Scripting : Python, PHP, JavaScript, Shellsripts

Functional : Python, Haskell, Scala
    
Logic : Prolog, Lisp

### List Comprehensions

In [95]:
# N Natural numbers in a list

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
# Apply list comprehension to store the cubes on n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [106]:
# Function to calculate the factorial

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
factorial1(6)

# Apply list comprehension to calculate
# factorial of n natural numbers

n=5
factorialList=[ factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [143]:
# Store cumulative sum of numbers to the list
# n=3 --->[1,3,6] 

def cumulativeSum(n):
    n=5
    sum=0
    l=[]
    for i in range(0,n):
        sum=sum+(i+1)
        l.append(sum)
    print(l)
cumulativeSum(5)
n=6
cumulativeSumList=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSumList

[1, 3, 6, 10, 15]

[1, 3, 6, 10, 15, 21]

In [151]:
# Function list comprehesion store only leap years in a given time period

st_yr=1970
ed_yr=2019

leapYears=[i for i in range(st_yr,ed_yr+1) if i%400==0 or (i%4==0 and i%100!=0) ]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [169]:
li=[1,2,3,2,1,4,4,5,6,5,5]
#unique=[]
unique2=[]
[unique2.append(i) for i in li if i not in unique2]
unique2
#unique2

[1, 2, 3, 4, 5, 6]

### Iterators

Iterable - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator --> iter()

For Loop: we can't stop until we will declare break or any satisified condition

Iterator: we can stop any where and you can start from starting

In [182]:
it=iter('Python')
print(next(it))

P

In [184]:
it=iter('Python')
print('1:')
#print('\n')
print(next(it))
print('2:')
#print('\n')
print(next(it))

1:
P
2:
y

### Generators

Generator is Function

In [196]:
def generator():
    n=5
    yield n
    
    n=n*3
    yield n
    
    n=n**3
    yield n
a=generator()
next(a)
next(a)
next(a)

3375

In [201]:
def generator2():
    n=2
    while True:
        #for i in range(1,5):
        n**=3
        yield n
a=generator()
next(a)
b=next(a) ** 2
b*= next(a)
b

759375